@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Practica grupo2</h1>
    <p>Esta es la practica del grupo2</a>.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/M_Dk9demut0?si=PoX_ymvQSgExXiBa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
